DATABASE_CLIENT=sqlite
DATABASE_FILENAME=.tmp/data.db
# DATABASE_HOST=
# DATABASE_PORT=
# DATABASE_NAME=
# DATABASE_USERNAME=
# DATABASE_PASSWORD=
# DATABASE_SSL=false
APP_KEYS=HQiHh2BGBIx4daXm2qTnsT04KCQDO9zkt4FaWCAeoeI=,7AEPVz8TKPN9g97MjtiKTkNR+XTGglvAZBxDc3kwQFA=,K8nWLhdV9nbXBiB5OMxZGLJ4ContTOVeTGLtx2GjEMY=,uBSxgIuIUUj5xSTwUcSxZjaNViSGJvbQwUFL+5m+2ME=
API_TOKEN_SALT=YPNBHVm6uh2c/v74f6QgIQloBNXEMwegCptFsGdeBS0=
ADMIN_JWT_SECRET=d9Rx2aMzWy7CiW9KsGau+HFUgYuASNIpHTLIDl0eCyY=
TRANSFER_TOKEN_SALT=BFIFsnwKmJd9ohE4N7+1o6h5ofBTZq4zeAYSloDp35I=
JWT_SECRET=k40gOL8orHPHgbTVQgjyKLol4VzIIX/ETPjCFkf9m0s=
